In [5]:

import pandas as pd

df = pd.read_csv('/Users/Vlad/Desktop/Lending Club/lending-club/accepted_2007_to_2018Q4.csv')

/Users/Vlad/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (0,19,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [120]:
for column in df.columns:
    print(column)

id
member_id
loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
sub_grade
emp_title
emp_length
home_ownership
annual_inc
verification_status
issue_d
loan_status
pymnt_plan
url
desc
purpose
title
zip_code
addr_state
dti
delinq_2yrs
earliest_cr_line
fico_range_low
fico_range_high
inq_last_6mths
mths_since_last_delinq
mths_since_last_record
open_acc
pub_rec
revol_bal
revol_util
total_acc
initial_list_status
out_prncp
out_prncp_inv
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
total_rec_late_fee
recoveries
collection_recovery_fee
last_pymnt_d
last_pymnt_amnt
next_pymnt_d
last_credit_pull_d
last_fico_range_high
last_fico_range_low
collections_12_mths_ex_med
mths_since_last_major_derog
policy_code
application_type
annual_inc_joint
dti_joint
verification_status_joint
acc_now_delinq
tot_coll_amt
tot_cur_bal
open_acc_6m
open_act_il
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
chargeoff_within_12_mths
delinq_amnt
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
pub_rec_bankruptcies
tax_liens
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit
revol_bal_joint
sec_app_fico_range_low
sec_app_fico_range_high
sec_app_earliest_cr_line
sec_app_inq_last_6mths
sec_app_mort_acc
sec_app_open_acc
sec_app_revol_util
sec_app_open_act_il
sec_app_num_rev_accts
sec_app_chargeoff_within_12_mths
sec_app_collections_12_mths_ex_med
sec_app_mths_since_last_major_derog
hardship_flag
hardship_type
hardship_reason
hardship_status
deferral_term
hardship_amount
hardship_start_date
hardship_end_date
payment_plan_start_date
hardship_length
hardship_dpd
hardship_loan_status
orig_projected_additional_accrued_interest
hardship_payoff_balance_amount
hardship_last_payment_amount
disbursement_method
debt_settlement_flag
debt_settlement_flag_date
settlement_status
settlement_date
settlement_amount
settlement_percentage
settlement_term

In [19]:
df_sample = df.sample(n = 4000, replace = False) 
# df.drop_duplicates(keep=False,inplace=True)

In [21]:
df_sample.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
679237,78985195,NaN,15000.0,15000.0,15000.0,36 months,5.32,451.73,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
977661,102325436,NaN,4900.0,4900.0,4900.0,36 months,8.24,154.10,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
723371,77051320,NaN,35000.0,35000.0,35000.0,60 months,21.18,950.42,E,E3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
740145,76194145,NaN,24000.0,24000.0,24000.0,60 months,19.53,629.60,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
150763,59452266,NaN,29950.0,29950.0,29925.0,60 months,21.99,827.02,F,F1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df_sample.shape

(4000, 151)

In [24]:
df_sample.drop_duplicates(keep=False,inplace=True)

In [25]:
df_sample.shape

(4000, 151)

In [132]:
loan = df_sample[['id', 'loan_amnt', 'int_rate', 'term', 'purpose', 
                  'issue_d', 'loan_status', 'grade', 'home_ownership']].copy()
import random
mem_id = random.sample(range(0, 5000), 4000)
loan['member_id'] = mem_id
loan = loan[['id', 'loan_amnt', 'int_rate', 'term', 'purpose', 
                  'issue_d', 'loan_status', 'member_id', 'grade', 'home_ownership']]

In [133]:
borrower = df_sample[['title', 'annual_inc', 'addr_state', 'fico_range_low']].copy()

borrower['member_id'] = mem_id
borrower = borrower[['member_id', 'title', 'annual_inc', 'addr_state', 'fico_range_low']]

In [134]:
import numpy as np 
loan_status = df_sample[['loan_status']].copy()
loan_status_nodupl = loan_status.drop_duplicates(keep='last')
import numpy as np 
  
# numpy array 
loan_status_nodupl['index'] = np.array([0, 1, 2, 3, 4, 5]) 
loan_status_nodupl = loan_status_nodupl[['index', 'loan_status']]

/Users/Vlad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [135]:
credit_rating = df_sample[['grade']].copy()
credit_rating_nodupl = credit_rating.drop_duplicates(keep='last') 

import numpy as np 
  
# numpy array 
credit_rating_nodupl['index'] = np.array([0, 1, 2, 3, 4, 5, 6]) 
credit_rating_nodupl = credit_rating_nodupl[['index', 'grade']]

/Users/Vlad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [136]:
homeownership = df_sample[['home_ownership']].copy()
homeownership_nodupl = homeownership.drop_duplicates(keep='last')
import numpy as np 
  
# numpy array 
homeownership_nodupl['index'] = np.array([0, 1, 2]) 
homeownership_nodupl = homeownership_nodupl[['index', 'home_ownership']]

/Users/Vlad/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

array(['RENT', 'MORTGAGE', 'MORTGAGE', ..., 'MORTGAGE', 'RENT',
       'MORTGAGE'], dtype=object)

In [137]:
loan_status.shape

(4000, 1)

In [138]:
loan.to_csv("/Users/Vlad/Desktop/Lending Club/CS3200/loan.csv")
borrower.to_csv("/Users/Vlad/Desktop/Lending Club/CS3200/borrower.csv")
loan_status_nodupl.to_csv("/Users/Vlad/Desktop/Lending Club/CS3200/loan_status.csv")
credit_rating_nodupl.to_csv("/Users/Vlad/Desktop/Lending Club/CS3200/credit_rating.csv")
homeownership_nodupl.to_csv("/Users/Vlad/Desktop/Lending Club/CS3200/homeownership.csv")

In [96]:
loan_status_nodupl.head()

        index         loan_status
493206      0   Late (16-30 days)
589019      1     In Grace Period
250418      2  Late (31-120 days)
144408      3         Charged Off
740145      4             Current

In [99]:
loan_status_nodupl.shape

(6, 2)

In [100]:
credit_rating_nodupl.shape

(7, 2)

In [101]:
homeownership_nodupl.shape

(3, 2)

In [102]:
homeownership_nodupl.head()

        index home_ownership
861155      0            OWN
740145      1           RENT
150763      2       MORTGAGE

In [118]:
borrower_memid = borrower['member_id'].copy()

In [119]:
borrower_memid.head()

298882   NaN
410498   NaN
620244   NaN
614975   NaN
407779   NaN
Name: member_id, dtype: float64

In [121]:
import random
random.sample(range(0, 5000), 4000)

[1668,
 2529,
 3163,
 3945,
 4284,
 78,
 912,
 471,
 1563,
 2119,
 194,
 2742,
 2297,
 341,
 4240,
 584,
 459,
 1902,
 4863,
 1607,
 2777,
 140,
 3222,
 630,
 4644,
 1801,
 3106,
 3386,
 4054,
 2526,
 3630,
 3621,
 4738,
 864,
 1319,
 3915,
 1698,
 854,
 118,
 3731,
 2266,
 2209,
 1383,
 3716,
 3108,
 934,
 3428,
 4511,
 3972,
 4224,
 4279,
 4375,
 3407,
 1169,
 916,
 3058,
 2264,
 3928,
 2977,
 4510,
 2756,
 3083,
 4614,
 143,
 3071,
 2996,
 3156,
 609,
 314,
 3550,
 3109,
 4489,
 1694,
 2794,
 785,
 2008,
 798,
 1888,
 2621,
 3275,
 4009,
 4305,
 4044,
 2667,
 3527,
 3296,
 1673,
 3543,
 39,
 691,
 3807,
 867,
 2199,
 704,
 3377,
 866,
 1859,
 4212,
 1210,
 3934,
 2534,
 3220,
 3243,
 2593,
 1808,
 3161,
 1044,
 3198,
 3512,
 1893,
 2359,
 2687,
 2421,
 499,
 3078,
 224,
 198,
 3649,
 475,
 1208,
 3164,
 1353,
 4202,
 4964,
 95,
 1483,
 24,
 3500,
 1543,
 936,
 3206,
 3696,
 565,
 512,
 1144,
 2042,
 3480,
 2083,
 451,
 822,
 2676,
 1609,
 476,
 4349,
 1229,
 1809,
 229,
 1189,
 3609,
 791,
 3258,
 4918,
 2920,
 4693,
 3075,
 2255,
 1376,
 4086,
 3524,
 2643,
 3940,
 1124,
 684,
 4043,
 878,
 1837,
 884,
 4251,
 3320,
 1934,
 1336,
 4328,
 2552,
 4642,
 2317,
 836,
 2828,
 1871,
 388,
 2136,
 564,
 33,
 2336,
 1344,
 4488,
 2533,
 3874,
 182,
 2184,
 2865,
 1772,
 1387,
 1752,
 1519,
 1506,
 4309,
 3433,
 2758,
 1036,
 3520,
 1649,
 1459,
 2520,
 1397,
 457,
 723,
 2846,
 966,
 2312,
 3579,
 925,
 1117,
 2880,
 637,
 2558,
 381,
 1000,
 1135,
 1370,
 692,
 4384,
 3830,
 4599,
 410,
 1554,
 2666,
 1324,
 1182,
 525,
 3167,
 4341,
 1983,
 4790,
 2979,
 3933,
 853,
 1288,
 632,
 1843,
 1606,
 769,
 1453,
 3975,
 301,
 3521,
 3740,
 2771,
 3355,
 4695,
 2583,
 4723,
 2922,
 4571,
 4122,
 2528,
 1019,
 3531,
 2484,
 578,
 2025,
 4927,
 401,
 4914,
 600,
 2831,
 674,
 2842,
 4378,
 3778,
 4844,
 1819,
 3970,
 3978,
 1513,
 3303,
 1775,
 411,
 1283,
 4422,
 2508,
 1999,
 2757,
 2555,
 840,
 726,
 2479,
 3555,
 4598,
 628,
 4703,
 4650,
 2635,
 4697,
 545,
 1511,
 2624,
 2120,
 328,
 4559,
 3373,
 829,
 869,
 1423,
 1659,
 1152,
 4067,
 4528,
 3880,
 3493,
 4102,
 1257,
 977,
 1020,
 356,
 4241,
 1432,
 327,
 132,
 1092,
 386,
 3451,
 596,
 3381,
 1301,
 3364,
 3065,
 998,
 2409,
 2721,
 122,
 818,
 472,
 2646,
 532,
 3977,
 3568,
 3790,
 924,
 1062,
 2587,
 1161,
 2164,
 1295,
 758,
 4200,
 2857,
 1560,
 4329,
 2936,
 2104,
 589,
 842,
 3439,
 205,
 3316,
 1717,
 4056,
 636,
 4111,
 587,
 3233,
 2588,
 3281,
 2739,
 2914,
 1315,
 954,
 212,
 608,
 3265,
 1358,
 4991,
 2240,
 906,
 773,
 4371,
 3767,
 4115,
 359,
 4622,
 2437,
 156,
 735,
 3025,
 1265,
 879,
 1372,
 1256,
 3747,
 3937,
 4972,
 3633,
 4588,
 1089,
 3549,
 2805,
 1304,
 731,
 2483,
 905,
 2239,
 1880,
 4674,
 2111,
 1711,
 4953,
 3133,
 4073,
 2330,
 746,
 139,
 3286,
 3257,
 3536,
 2386,
 4034,
 3497,
 1290,
 4709,
 3026,
 7,
 2504,
 1390,
 3484,
 3982,
 4231,
 1500,
 4852,
 1577,
 4499,
 4857,
 927,
 3689,
 2197,
 3589,
 3059,
 4482,
 2969,
 1572,
 2157,
 4411,
 4027,
 15,
 2148,
 2775,
 2033,
 4544,
 2649,
 688,
 4716,
 4429,
 3242,
 2222,
 3735,
 3723,
 2670,
 3840,
 3648,
 4262,
 2283,
 1013,
 50,
 1471,
 2280,
 3353,
 850,
 2890,
 3974,
 970,
 3136,
 3885,
 1763,
 79,
 895,
 1653,
 3931,
 3860,
 4002,
 1129,
 5,
 3783,
 3039,
 1281,
 2436,
 1246,
 2396,
 2597,
 2401,
 3535,
 1590,
 3306,
 3184,
 1179,
 61,
 4076,
 2507,
 2278,
 259,
 651,
 420,
 1664,
 2818,
 3923,
 2110,
 4406,
 4871,
 1009,
 2281,
 3720,
 2385,
 4685,
 3029,
 2620,
 2654,
 164,
 3115,
 2570,
 1026,
 2897,
 250,
 1302,
 1509,
 4447,
 121,
 2542,
 1098,
 919,
 4594,
 2185,
 2466,
 136,
 258,
 734,
 1619,
 4506,
 3060,
 4772,
 195,
 3976,
 4858,
 4425,
 1154,
 1965,
 3608,
 2490,
 1266,
 4556,
 1123,
 787,
 144,
 3348,
 3099,
 4662,
 128,
 2714,
 4295,
 1222,
 1427,
 4943,
 1790,
 1564,
 582,
 2314,
 3675,
 3342,
 566,
 4641,
 3412,
 4032,
 4823,
 1278,
 4456,
 526,
 1345,
 1404,
 3643,
 1047,
 3308,
 59,
 4930,
 437,
 4775,
 4370,
 4171,
 2762,
 783,
 4312,
 126,
 2211,
 3086,
 4046,
 3448,
 1378,
 2738,
 1638,
 2175,
 2168,
 467,
 737,
 3659,
 2465,
 4118,
 4646,
 4412,
 311,
 3929,
 4682,
 2859,
 1603,
 4942,
 4174,
 677,
 777,
 1365,
 4794,
 898,
 2626,
 3273,
 104,
 1596,
 507,
 1863,
 764,
 1467,
 4103,
 2707,
 4828,
 2918,
 3816,
 2510,
 2279,
 814,
 3887,
 801,
 3578,
 20,
 3098,
 3307,
 643,
 1173,
 1911,
 3884,
 1552,
 4446,
 3844,
 3839,
 2745,
 1778,
 958,
 3227,
 2847,
 1922,
 2547,
 172,
 1702,
 3642,
 3781,
 1780,
 3372,
 1719,
 4707,
 2074,
 1199,
 474,
 73,
 3398,
 2141,
 4396,
 3226,
 901,
 644,
 2605,
 1211,
 1327,
 3417,
 2990,
 3261,
 2373,
 3721,
 2814,
 2535,
 2377,
 3467,
 1612,
 3213,
 4530,
 1558,
 4203,
 8,
 2725,
 111,
 3044,
 1654,
 897,
 267,
 505,
 4550,
 299,
 1676,
 4160,
 859,
 2982,
 3043,
 4545,
 792,
 49,
 2413,
 4801,
 4877,
 4453,
 4966,
 422,
 1697,
 1515,
 2580,
 2665,
 487,
 3351,
 152,
 2010,
 344,
 4692,
 2020,
 3142,
 2320,
 1110,
 2193,
 1177,
 3354,
 4426,
 1779,
 4418,
 3248,
 2489,
 1642,
 3797,
 721,
 4744,
 1764,
 4920,
 4924,
 1742,
 1414,
 4882,
 4261,
 1830,
 1352,
 4445,
 4036,
 3870,
 3625,
 3908,
 1440,
 524,
 3808,
 728,
 724,
 1354,
 2699,
 3881,
 2974,
 2032,
 4664,
 412,
 1616,
 3925,
 4694,
 1920,
 3392,
 3374,
 3340,
 3285,
 4864,
 1252,
 4463,
 4952,
 1384,
 3287,
 3585,
 3105,
 4669,
 3469,
 103,
 4780,
 2416,
 1968,
 3050,
 4564,
 2960,
 3001,
 2664,
 1652,
 1060,
 2061,
 3445,
 1205,
 2947,
 3371,
 1802,
 1042,
 4,
 736,
 2669,
 3378,
 3402,
 3444,
 1322,
 392,
 4403,
 1651,
 3319,
 1890,
 3221,
 3395,
 4784,
 4806,
 2939,
 4520,
 1526,
 55,
 1623,
 813,
 233,
 4969,
 2200,
 3262,
 2810,
 3965,
 3093,
 3730,
 1156,
 3145,
 1316,
 2657,
 2623,
 1722,
 238,
 4319,
 2681,
 4101,
 3548,
 2213,
 937,
 3216,
 797,
 3508,
 1815,
 886,
 1729,
 2957,
 645,
 3784,
 2225,
 4465,
 2843,
 3426,
 2406,
 716,
 1250,
 1159,
 4933,
 4264,
 2453,
 2156,
 3667,
 3431,
 2342,
 4019,
 939,
 2940,
 3094,
 4498,
 2134,
 1434,
 1236,
 3899,
 4030,
 1074,
 4441,
 604,
 4346,
 2431,
 2433,
 399,
 481,
 3016,
 2866,
 3131,
 4959,
 725,
 4300,
 4226,
 1380,
 4847,
 4391,
 2296,
 4113,
 1127,
 1749,
 2322,
 223,
 3107,
 3918,
 626,
 4713,
 1200,
 280,
 3118,
 4535,
 438,
 1926,
 664,
 1096,
 168,
 2206,
 3357,
 396,
 2023,
 1810,
 1280,
 747,
 550,
 1287,
 2232,
 530,
 2118,
 1034,
 1787,
 1007,
 1919,
 2959,
 2612,
 4546,
 1818,
 537,
 2955,
 909,
 4752,
 1613,
 1417,
 2082,
 571,
 4132,
 946,
 986,
 479,
 2578,
 4747,
 385,
 2289,
 2135,
 2850,
 4840,
 1285,
 2967,
 4150,
 661,
 4012,
 3846,
 1130,
 4355,
 124,
 3170,
 3463,
 1957,
 2163,
 34,
 41,
 4526,
 1148,
 1446,
 2106,
 4007,
 2234,
 1927,
 2415,
 4367,
 245,
 2705,
 2357,
 2446,
 2366,
 714,
 2883,
 3140,
 2661,
 1251,
 3582,
 2586,
 3819,
 2579,
 4485,
 1669,
 4605,
 318,
 72,
 232,
 3763,
 2817,
 4945,
 ...]